.form{
    border-color: black;
    border: 1px solid black;
    border-radius: 30px;
    margin: auto;
    margin-top: 100px;
    width: 50%;
    padding: 4rem;
}
.App{
}
#con{
    height: 25rem;
}
button{
    margin-top: 4rem;
    width: 100%;
    height: 3rem;
}
.container{
    
}